body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}
ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}
ul a:hover {
  background: gray;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/images//image12.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position-x: 20%;
  background-position-y: 15%;
  z-index: -1;
  -webkit-animation: intro 5s forwards;
          animation: intro 5s forwards;
}

.logo {
  color: rgb(189, 56, 56);
  font-weight: bold;
  font-size: 2.3rem;
}

.logo span {
  color: rgb(105, 206, 37);
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  width: 2em;
  margin-top: 0.6em;
  cursor: pointer;
}

section.hero {
  color: rgb(240, 52, 52);
  height: 90vh;
  -webkit-animation: movehero 2s ease-in-out forwards;
          animation: movehero 2s ease-in-out forwards;
  opacity: 0;
}
section.hero .down-arrow {
  stroke: black;
  position: unset;
  height: 3em;
  animation: movearrow 1s alternate-reverse infinite;
}

.close {
  float: right;
  margin: 2em;
  width: 2em;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.more-info .title {
  font-weight: bold;
  font-size: 1.25em;
}
.more-info .desc {
  line-height: 1.5em;
}

.open-nav {
  transform: translateX(0%);
}

.mark {
  color: red;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }
}
@media only screen and (min-width: 920px) {
  .footer .social {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  .footer .footer ul {
    display: grid;
    grid-row: auto;
  }
  .footer .social-item {
    display: grid;
    grid-row: 1;
    list-style: none;
  }
  .footer .social-item a {
    padding: 1em 2em;
    font-size: 0.8rem;
    color: aqua;
  }
  .footer .back-item {
    display: grid;
    grid-row: 1;
  }
  .footer .back-item ul {
    display: grid;
    grid-row: auto;
  }
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
    color: rgb(255, 231, 13);
    font-weight: bolder;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
    font-size: 1em;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }
  section.hero {
    height: auto;
    width: 45%;
    margin-bottom: 30em;
  }
  section.hero svg {
    stroke: black;
    position: unset;
  }
  section.hero svg path {
    fill: black;
  }
  .featuer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .featuer img {
    width: 25em;
  }
  .featuer .content {
    text-align: right;
    width: 25em;
  }
  .featuer.left {
    grid-template-areas: "left right";
  }
  .featuer.left .content {
    text-align: left;
    width: 25em;
    justify-self: left;
  }
  .featuer.left .left-img {
    grid-area: left;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
@-webkit-keyframes intro {
  from {
    -webkit-clip-path: polygon(45% 0, 45% 0, 48% 100%, 48% 100%);
            clip-path: polygon(45% 0, 45% 0, 48% 100%, 48% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%);
            clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%);
  }
}
@keyframes intro {
  from {
    -webkit-clip-path: polygon(45% 0, 45% 0, 48% 100%, 48% 100%);
            clip-path: polygon(45% 0, 45% 0, 48% 100%, 48% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%);
            clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%);
  }
}
@-webkit-keyframes movearrow {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes movearrow {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes movehero {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes movehero {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.inn {
  margin: 0;
  padding: 0;
  background-color: #272727;
}

.social {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.footer ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.social-item {
  list-style: none;
}
.social-item a {
  padding: 1em 2em;
  font-size: 0.8rem;
  color: aqua;
}

.back {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.back ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.back ul .back-item {
  list-style: none;
}
.back ul .back-item a {
  text-decoration: none;
  padding: 0 0.9em;
  color: cornflowerblue;
}/*# sourceMappingURL=main.css.map */